.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
^.Renviron
^\.Renviron
.Renviron

# MAC OS System files
.DS_Store
/doc/
/Meta/

^.*\.Rproj$
^\.Rproj\.user$
^\.github$
^\.DS_Store$
^\.Rhistory$
^example\.R$
^doc$
^Meta$
^\.claude$
